.footer {
  height: 1px;
  display: table-row;
  .menu-foot {
    border: none;
  }
  .foot {
    padding: 25px 0;
    background: #fff;
  }
  .copyright {
    text-align: center;
    margin-top: 10px;
  }
}